@import "sizes";
@import "padding-md";
@import "padding-sm";

/* PADDING */
.p-0 {
  padding: $none;
}

.p-1 {
  padding: $super-small;
}

.p-2 {
  padding: $small;
}

.p-3 {
  padding: $medium;
}

.p-4 {
  padding: $big;
}

.p-5 {
  padding: $super-big;
}

/* PADDING X */
.px-0 {
  padding: 0 $none;
}

.px-1 {
  padding: 0 $super-small;
}

.px-2 {
  padding: 0 $small;
}

.px-3 {
  padding: 0 $medium;
}

.px-4 {
  padding: 0 $big;
}

.px-5 {
  padding: 0 $super-big;
}

/* PADDING Y */
.py-0 {
  padding: $none 0;
}

.py-1 {
  padding: $super-small 0;
}

.py-2 {
  padding: $small 0;
}

.py-3 {
  padding: $medium 0;
}

.py-4 {
  padding: $big 0;
}

.py-5 {
  padding: $super-big 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* PADDING TOP */
  .pt-0 {
    padding-top: $none;
  }

  .pt-1 {
    padding-top: $super-small;
  }

  .pt-2 {
    padding-top: $small;
  }

  .pt-3 {
    padding-top: $medium;
  }

  .pt-4 {
    padding-top: $big;
  }

  .pt-5 {
    padding-top: $super-big;
  }

  /* PADDING RIGHT */
  .pr-0 {
    padding-right: $none;
  }

  .pr-1 {
    padding-right: $super-small;
  }

  .pr-2 {
    padding-right: $small;
  }

  .pr-3 {
    padding-right: $medium;
  }

  .pr-4 {
    padding-right: $big;
  }

  .pr-5 {
    padding-right: $super-big;
  }

  /* PADDING BOTTOM*/

  .pb-0 {
    padding-bottom: $none;
  }

  .pb-1 {
    padding-bottom: $super-small;
  }

  .pb-2 {
    padding-bottom: $small;
  }

  .pb-3 {
    padding-bottom: $medium;
  }

  .pb-4 {
    padding-bottom: $big;
  }

  .pb-5 {
    padding-bottom: $super-big;
  }

  /* PADDING LEFT */
  .pl-0 {
    padding-left: $none;
  }

  .pl-1 {
    padding-left: $super-small;
  }

  .pl-2 {
    padding-left: $small;
  }

  .pl-3 {
    padding-left: $medium;
  }

  .pl-4 {
    padding-left: $big;
  }

  .pl-5 {
    padding-left: $super-big;
  }

}
