$none: 0;
$super-small: 3px;
$small: 6px;
$medium: 9px;
$big: 12px;
$super-big: 15px;

$x-super-small: 0, $super-small;
$x-small: 0, $small;
$x-medium: 0, $medium;
$x-big: 0, $big;
$x-super-big: 0, $super-big;

$y-super-small: 0, $super-small;
$y-small: 0, $small;
$y-medium: 0, $medium;
$y-big: 0, $big;
$y-super-big: 0, $super-big;
